html{
				background-color: #000000;
				
			}
			body{
				font-size: 15px;
			}
			.onhead{				
				height: 43px;
				margin-left: 1020px;
			}
			.tel{
				color: white;
				display: inline;
				margin-right: 50px;	
				font-size: 18px;			
				 	}
			.login{
				color:white;
				display: inline;
				font-size: 13px;				 
			}
			.content{
				padding 0 110px;
				margin-left: -13px;
				width:1354px;
				height: px;
				background-color: white;
			}
			.banner{			 
				padding: 14px 38px ;
				margin-bottom: -80px;
			} 
			.daohang{
				width: 778px;
				height:90px;
				margin-left: 368px;
				position: relative;
				top: -35px;
			}
			.list1{
				margin-right: 50px;
				float: left;
			}
			.middle{
				margin: 0 80px;				 
				width: 1200px;				 
			}
			.imgs{
				margin-top: 30px;					 
				width: 1198px;
				height: 1600px;
				border:1px #d3d3d3 solid;
			}
			.center{
				height: 1600px;
				margin-top: -4px;
				border-top:2px #1c5080 solid;				 
			}
			.img{
				height: 310px;
				padding-bottom: 25px;
				margin: 20px 0 25px 0;
				border-bottom: 2px dashed  #e6e6e6;
			}
			 
			.text1{
				width: 600px;
				 position: relative;
				 top:-320px;
				 left: 480px;			}
			.title{
				font-weight: bold;
				font-size: 20px;
				margin-bottom: 20px;
			}
			.one{
				margin-bottom: 20px;
			}
			.two{
				margin-bottom: 30px;
			}
			li{
				list-style-type: none;
			}
			.price{
				 margin: 0 0 -100px 315px;
			}
			.button{
				 margin: 67px 0 0 510px; 
				border-radius:10px ;
				width:120px;
				height:25px;
				background-color: #e8420a;
				color: white;
				text-align: center;
				padding-top: 5px;
			}
			.list2{
				width: 20px;
				border: 1px #d3d3d3 solid;
				color: #d3d3d3 ;
				display: inline;
				width: 20px;
				float: left;
				text-align: center;
				margin-left: 8px;
			}
			.list3{
				width: 20px;
				border: 1px #d3d3d3 solid;
			    float: left;
				display: block;
				text-align: center;
				margin-left: 8px;
			}
			.list4{
				width: 45px;
				border: 1px #d3d3d3 solid;
			    float: left;
				display: block;
				text-align: center;
				margin-left: 8px;
			}
			.change{
				margin-top: 40px;
				margin-left: 865px;
			}
			.footer{
				color: white;
				margin: 60px 70px;
				}
			.l1{
				margin-right: 35px;
				float: left;
			}
			.left1{
				width: 650px;
				height: 200px;				 
			}
			.big{
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 20px;
			}
			.small{
				margin-bottom: 15px;
			}			 
			.hh{
				margin-top: 50px;
				margin-right: 15px;
				float: left;
				text-align: center;
			}
			.big1{				 
				font-size: 18px;
				font-weight: bold;
			}
			.gg{
				margin-right: 20px;
				float: left;
				text-align: center;
			}
			.logos{
				margin-bottom:15px ;
			}
			.qrcode{
				margin-left: 25px;
			}
			.right{
				margin-top: -200px;
				float:left;
				width: 300px;
				margin-left: 250px;
			}
			.ll{
				display: inline;
				font-size: 18px;
						}
			.block{				
				margin-left:  1305px;
				position: fixed;
			}
			 